## Variable length argument and keyword variable length argument

In [3]:
def facebook(**kwargs):
    print(kwargs)

facebook(name="Amaan",College="CTAE",age=22,Course="Data Science Specialization")

{'name': 'Amaan', 'College': 'CTAE', 'age': 22, 'Course': 'Data Science Specialization'}

In [8]:
def instagram(*args):
    print(args)

instagram("Amaan","CTAE",22,"Data Science Specialization")

('Amaan', 'CTAE', 22, 'Data Science Specialization')

## Lambda Function
### Also known as anonymous Function bcz they dont have a name
### this are 1 line Functions

In [32]:
def sum(x):
    print(x+10)
    return x+10
x = sum(34)

44

In [40]:
# With saving in a explicit vairiable
x1=lambda x : x+10
x1(5)

15

In [42]:
# Without Explicit Vairiable
(lambda x : x+10)(5)

15

In [44]:
a = lambda x : x[0:2]
for i in "Hey Hello User".split():
    print(a(i))

He
He
Us

In [64]:
l = [2,5,7,13,15,6,8,12,33,55,68]
new = []
is_even = lambda x:x%2==0
for i in l:
    if is_even(i):
        new.append(i)

print(new)

[2, 6, 8, 12, 68]

In [66]:
def fun():
    print("Amaan Syed")

a = fun
a() --> # First Class Function

Amaan Syed

In [70]:
x = print
x("Amaan Syed")

Amaan Syed

In [84]:
d = {'func':lambda x : x+5,"age":22}
print(d['func'](10))

15