In [1]:
def total(name="Aspirant",*marks):
    print(f"{name}, your total is {sum(marks)}")

total("Amaan",90,92,88,93,96)
print()

Amaan, your total is 459

In [3]:
def even_odd(num):
    if(num%2==0):
        print("Even")
    else:
        print("Odd")
even_odd(20)
even_odd(27)

Even
Odd

In [11]:
lst = [12,45,76,89,22]
def check(lst):
    for i in lst:
        if(i%2==0):
            print(i,"Even")
        else:
            print(i,"ODD")
check(lst)

12 Even
45 ODD
76 Even
89 ODD
22 Even

In [15]:
lst = [23,22,56,78,32,10]
def basic(lst):
    min = lst[0]
    max = lst[0]
    summ = 0
    for i in lst:
        if(min>i):
            min = i
        if(max<i):
            max = i
        summ+=i
    print(summ)
    print(max)
    print(min)
basic(lst)

221
78
10

In [17]:
def intro(name="Guest",age=22):
    print(f"Hello, {name} you are {age} years old")
intro("Amaan")

Hello, Amaan you are 22 years old

In [21]:
def multiply(*numbers):
    result = 1
    for i in numbers:
        result *= i
    print(result)
    
multiply(10,7,3)

210

In [27]:
def info(**details):
    for i,j in details.items():
        print(f"{i}:{j}", end=" ")

info(Name="Amaan",age=22,city="Jaipur")

Name:Amaan age:22 city:Jaipur

In [35]:
def summary(title,*points,**metadata):
    print("Title : ",title)
    print("Points: ")
    for i in points:
        print(f"- {i}")
    print("Metadata: ")
    for i,j in metadata.items():
        print(f"{i}:{j}")

summary("Data Scientist","Data Cleaning","Data wrangling","EDA","Machine Learning","Deep Learning", Author= "Amaan", Duration = "2 Years"  )

Title :  Data Scientist
Points:
- Data Cleaning
- Data wrangling
- EDA
- Machine Learning
- Deep Learning
Metadata:
Author:Amaan
Duration:2 Years

In [39]:
sub = lambda a,b: a-b
print(sub(10,5))

5

In [43]:
cube = lambda x : x**3
lst = [2,3,4]
result = map(cube,lst)
print(list(result))

[8, 27, 64]

In [45]:
extract = lambda a : a.startswith("A")
names = ['Amaan', 'Ravi', 'Alina', 'Sneha']
result = filter(extract, names)
print(list(result))

['Amaan', 'Alina']

In [51]:
students = [('Amaan', 22), ('Ravi', 25), ('Sneha', 21)]
fetch_age = lambda x: x[1]
result = sorted(students,key=fetch_age)
print(list(result))

[('Sneha', 21), ('Amaan', 22), ('Ravi', 25)]

In [55]:
from functools import reduce

nums = [2, 3, 4]

result = reduce(lambda a,b:a*b,nums)
print(result)

24