### Pyramid Pattern Questions
#### By Saiyed Amaan

In [12]:
# 1. Pyramid
for i in range(1,6):
    for k in range(5,i,-1):
        print(" ",end="")
    for j in range(1,i+1):
        print("* ",end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# 2. Inverted Pyramid  
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()

In [30]:
# 3. Odd-Stars Pyramid
for i in range(1,6):
    for k in range(5,i,-1):
        print(" ",end="")
    for j in range(1,i*2):
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********

In [36]:
# 4. Hollow Pyramid
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        if(i==5 or k==1 or k==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
   * *
  *   *
 *     *
* * * * *

In [44]:
# 5.Horizontal Right-Pyramid

for i in range(1,6):
    for j in range(1,i+1):
        print("* ",end=" ")
    print()


for i in range(4,0,-1):
    for j in range(1,i+1):
        print("* ",end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [48]:
# 6.Horizontal Left-Pyramid

for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()


for i in range(4,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [113]:
# 7. Diamond

for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()


for i in range(4,0,-1):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        print("* ",end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [38]:
# 8. Diamond of Digits

for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 1
    for k in range(1,i*2):
        print(x,end=" ")
        x+=1
    print()


for i in range(4,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 1
    for k in range(1,i*2):
        print(x,end=" ")
        x+=1
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [48]:
# 9. Diamond of Alphabets

for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 65
    for k in range(1,i*2):
        print(chr(x),end=" ")
        x+=1
    print()


for i in range(4,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 65
    for k in range(1,i*2):
        print(chr(x),end=" ")
        x+=1
    print()

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A

In [50]:
# 10. Ancient Time Clock
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    
    for k in range(1,i*2):
        print("*",end=" ")
        
    print()



for i in range(2,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    
    for k in range(1,i*2):
        print("*",end=" ")
        
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [54]:
# 10. Ancient Time Clock Digits

for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 1
    for k in range(1,i*2):
        print(x,end=" ")
        x+=1
    print()



for i in range(2,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 1
    for k in range(1,i*2):
        print(x,end=" ")
        x+=1
    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [56]:
# 11. Ancient Time Clock Alphabtes

for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 65
    for k in range(1,i*2):
        print(chr(x),end=" ")
        x+=1
    print()



for i in range(2,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    x = 65
    for k in range(1,i*2):
        print(chr(x),end=" ")
        x+=1
    print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [83]:
# 12. Hollow Diamond
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        if( k==1 or k==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
        


for i in range(4,0,-1):
    for j in range(5,i,-1):
        print(" ",end="")
        
    for k in range(1,i+1):
        if(k==1 or k==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
            
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [97]:
# 13. Hollow Diamond alphabets
for i in range(1,6):
    x = 65
    for j in range(5,i,-1):
        print(" ",end="")
    for k in range(1,i+1):
        if( k==1 or k==i):
            print(chr(x),end=" ")
        else:
            print(" ",end=" ")
        x+=2
    print()
        


for i in range(4,0,-1):

    x = 65
    
    for j in range(5,i,-1):
        print(" ",end="")
        
    for k in range(1,i+1):
        if(k==1 or k==i):
            print(chr(x),end=" ")
        
        else:
            print(" ",end=" ")
        x+=2
            
    print()

    A
   A C
  A   E
 A     G
A       I
 A     G
  A   E
   A C
    A

In [107]:
# 14. Ancient Time Clock Hollow
for i in range(5,0,-1):
    for j in range(5,i,-1):
        print(" ",end=" ")
    
    for k in range(1,i*2):
        if(i==5 or k==1 or k==i*2-1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
        
    print()



for i in range(2,6):
    for j in range(5,i,-1):
        print(" ",end=" ")

    
    for k in range(1,i*2):
        if(i==5 or k==1 or k==i*2-1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
        
    print()

* * * * * * * * *
  *           *
    *       *
      *   *
        *
      *   *
    *       *
  *           *
* * * * * * * * *