In [62]:
s = 'banana'
d ={}
for i in s:
    if(i not in d):
        d[i] = 1
    else:
        d[i] += 1
print(d)

{'b': 1, 'a': 3, 'n': 2}

In [70]:
for i in d:
    print(f"{i} = <key> , {d[i]} = <value>")

b = <key> , 1 = <value>
a = <key> , 3 = <value>
n = <key> , 2 = <value>

In [78]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
di= {}
for i in range(len(keys)):
    # keys[i] = key
    # values[i] = value
    di[keys[i]] = values[i]

print(di)

{'a': 1, 'b': 2, 'c': 3}

In [104]:
marks = {'John': 78, 'Alice': 85, 'Bob': 69}
max = 0
for i in marks:
    if(max<marks[i]):
        max = marks[i]
        k = i
print(k ,':',marks[i])

Alice : 69

In [106]:
d = {'a': 1, 'b': 2, 'c': 3}
d2 = {}
for i in d:
    d2[d[i]] = i

print(d2)

{1: 'a', 2: 'b', 3: 'c'}

In [132]:
data = {
    'emp1': {'name': 'Alice', 'salary': 50000},
    'emp2': {'name': 'Bob', 'salary': 60000}
}

for i in data:
    print(i)
    for j in data[i]:
        print(j,':',data[i][j],end=" ")
    print()

emp1
name : Alice salary : 50000
emp2
name : Bob salary : 60000

In [134]:
d = {"Amaan":94,"vinod":46,"thor":87,"Tony":88}
target = 80
for i in d:
    if(d[i]>=80):
        print(i,":",d[i])

Amaan : 94
thor : 87
Tony : 88

In [142]:
d = {"Amaan":"Data Scientist","Tony":"Innovator","Natasha":None,"Tannu":None,"Anny": "Accountant"}
for i in list(d):
    if(d[i] == None):
        d.pop(i)

print(d)

{'Amaan': 'Data Scientist', 'Tony': 'Innovator', 'Anny': 'Accountant'}

In [5]:
str1 = input("Enter the String 1: ")
str2 = input("Enter the String 2: ")
str1 = str1.upper()
str2 = str2.upper()
s1 = set({})
s2 = set({})

for i in str1:
    s1.add(i)

for i in str2:
    s2.add(i)

if(s1 == s2):
    print("Anagram")
else:
    print("Not Anagram")

Enter the String 1:  Amaan
Enter the String 2:  amaan

Anagram